In [1]:
import sqlite3
import numpy as np
import pandas as pd
import random

In [2]:
f = pd.read_excel('Xdata.xlsx', sheet_name='Sheet1')

In [3]:
dish = []
for i in range(125):
    s = 'dish'+str(i)
    dish.append(s)
    
f.set_axis(dish, axis=1)
y = f.drop('dish0', axis=1)

c:\users\amit\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

In [4]:
y.head(5)

,dish1,dish2,dish3,dish4,dish5,dish6,dish7,dish8,dish9,dish10,...,dish115,dish116,dish117,dish118,dish119,dish120,dish121,dish122,dish123,dish124
0,0.000000,1.428571,0.000000,0.000000,0.0,1.428571,1.428571,0.0,0.0,1.428571,...,1.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.428571,0.000000,0.0
1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,2.173913,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.173913,0.000000,4.347826,4.347826,0.0
3,0.793651,0.000000,0.793651,1.587302,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.793651,0.793651,0.793651,0.000000,0.000000,0.793651,0.000000,0.793651,0.0
4,0.000000,0.000000,1.388889,0.000000,0.0,0.000000,2.777778,0.0,0.0,0.000000,...,1.388889,1.388889,0.000000,1.388889,1.388889,0.000000,1.388889,0.000000,0.000000,0.0

In [5]:
y_mean=y.mean()
y_sorted_mean = sorted(y_mean, reverse=True)

In [6]:
y_mean

dish1      0.420499
dish2      0.422870
dish3      0.397200
dish4      0.384119
dish5      0.393364
dish6      0.408770
dish7      0.367624
dish8      0.399795
dish9      0.408630
dish10     0.400183
dish11     0.425437
dish12     0.410756
dish13     0.419481
dish14     0.412185
dish15     0.406293
dish16     0.379367
dish17     0.424228
dish18     0.397582
dish19     0.395822
dish20     0.400441
dish21     0.389136
dish22     0.422448
dish23     0.393734
dish24     0.432953
dish25     0.418927
dish26     0.401026
dish27     0.414376
dish28     0.376674
dish29     0.384732
dish30     0.426985
             ...
dish95     0.401725
dish96     0.390909
dish97     0.375559
dish98     0.396639
dish99     0.420940
dish100    0.392509
dish101    0.411022
dish102    0.395929
dish103    0.404255
dish104    0.399326
dish105    0.423965
dish106    0.387548
dish107    0.411189
dish108    0.384286
dish109    0.404950
dish110    0.418515
dish111    0.389854
dish112    0.415478
dish113    0.391124
dish114    0.416515
dish115    0.405925
dish116    0.398739
dish117    0.409780
dish118    0.395991
dish119    0.412909
dish120    0.380149
dish121    0.409329
dish122    0.403774
dish123    0.405080
dish124    0.370647
Length: 124, dtype: float64

In [7]:
class RecByMean(object):
    def __init__(self, dish_id, dish, mean):
        self.dish_id = dish_id
        self.dish = dish
        self.mean = mean
    
    def get_dish_id(self):
        return self.dish_id
        
    def get_dish(self):
        return self.dish
    
    def get_mean(self):
        return self.mean
    
    def __str__(self):
        return str(self.dish_id)+" " + self.dish + ": " +str(self.mean)

In [8]:
menu_df = pd.read_excel('menu.xlsx', sheet_name='Sheet1')
menu_df

,Unnamed: 0,dish_1,dish_2,dish_3,dish_4,dish_5,dish_6,dish_7,dish_8,dish_9,...,dish_115,dish_116,dish_117,dish_118,dish_119,dish_120,dish_121,dish_122,dish_123,dish_124
0,dish id,2,3,4,5,6,7,8,9,10,...,116,117,118,119,120,121,122,123,124,125
1,dish,Fresh Tomato Basil Soup,Vegetable Hot & Sour Soup,Manchow Vegetable Soup,Vegetable Clear Soup,Sweet Corn Vegetable Soup,Cream of Mushroom,Veg. Lemon Coriander Soup,"Gazpacho Soup (Tomato, Cucumber, Bread)",Chilled Pineapple Coconut Sou,...,Stuffed Kulcha / Paratha,Stuffed Keema Kulcha/Paratha,Bread Baske,Kulhad Rabdi,Churma Ladoo,Gulab Jamun,Gulab Jamun with Ice Cream,Kesari Kheer,Banana Split,Ice Crea

In [9]:
menu_df.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
dish_id = menu_df.iloc[0]
dish = menu_df.iloc[1]

In [11]:
def menu(dish_id, dish, mean):
    """
    dish_id, dish, mean: are lists
    """
    menu_list = []
    for i in range(len(dish_id)):
        menu_list.append(RecByMean(dish_id=dish_id[i], dish=dish[i], mean=mean[i]))
    
    return menu_list

In [12]:
dish_menu = menu(dish_id=dish_id, dish=dish, mean=y_mean)

In [13]:
dish_menu_sorted = sorted(dish_menu, key=RecByMean.get_mean, reverse=True)

In [14]:
# First 5 dishes by popularity
rec_by_popularity = dish_menu_sorted[:5]
[print(i) for i in rec_by_popularity]

73 Kadai Paneer: 0.4377996935702431
59 Palak Makki Ka Saag : 0.4338340523618342
25 Chana Chaat Masala: 0.4329525893467665
62 Ker Sangri: 0.4289624430581149
31 Paneer Malai Tikka: 0.4269851247582047

[None, None, None, None, None]

In [15]:
d1_id = menu_df['dish_67'].loc[0]
d1_id

68

In [16]:
def get_rec_by_nearest(d, id):
    result = []
    ind = 0
    for i in d:
        if i.get_dish_id()==id:
            ind = d.index(i)
    if ind-2<0:
        return d[:ind+5]
    elif ind+2>len(d):
        return d[ind-5:]
    else:
        return d[ind-2:ind+3]

In [17]:
# five dishes by resemblence
rec_by_resmb = get_rec_by_nearest(dish_menu_sorted, d1_id)
[print(i) for i in rec_by_resmb]

58 Gatta Curry : 0.389879581675113
112 Plain Naan : 0.3898542859783575
68 Hing Dhaniya Ke Aloo: 0.3892718058924134
22 Dahi Kebab: 0.3891358122553795
55 Vegetable/Boondi/Aloo/Pudina: 0.3885205795034795

[None, None, None, None, None]

In [18]:
f1 = pd.read_excel('Rdata.xlsx', sheet_name='Sheet1')

In [19]:
f1.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,114,115,116,117,118,119,120,121,122,123
0,0,0,1,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
3,3,1,0,1,1,0,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,4,0,0,1,0,0,0,1,0,0,...,1,1,0,1,1,0,1,0,0,0

In [20]:
# Runs only when start

dish_item = []
for i in range(125):
    s = 'dish'+str(i)
    dish_item.append(s)
    
f1.set_axis(dish_item, axis=1, inplace=True)
f1.drop('dish0', axis=1, inplace=True)

In [21]:
f1.head(5)

,dish1,dish2,dish3,dish4,dish5,dish6,dish7,dish8,dish9,dish10,...,dish115,dish116,dish117,dish118,dish119,dish120,dish121,dish122,dish123,dish124
0,0,1,0,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,1,0
3,1,0,1,1,0,0,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,0,0,1,0,0,0,1,0,0,0,...,1,1,0,1,1,0,1,0,0,0

In [22]:
R_sum=f1.sum()

In [23]:
R = np.array(f1)
coccurence_matrix = np.zeros((R.shape[1], R.shape[1]), dtype=np.float)

for i in R:
    for j in range(len(i)):
        for k in range(len(i)):
            if i[j]==i[k]==1 and j!=k:
                coccurence_matrix[j][k]+=1

In [24]:
for i in range(R.shape[1]):
     coccurence_matrix[i]=coccurence_matrix[i]/R_sum[i]

In [25]:
coccurence_matrix

array([[0.        , 0.25833333, 0.26481481, ..., 0.24351852, 0.25740741,
        0.27037037],
       [0.26271186, 0.        , 0.23258004, ..., 0.24764595, 0.25329567,
        0.25047081],
       [0.27984344, 0.24168297, 0.        , ..., 0.25831703, 0.26223092,
        0.2553816 ],
       ...,
       [0.25683594, 0.25683594, 0.2578125 , ..., 0.        , 0.28710938,
        0.24707031],
       [0.25981308, 0.25140187, 0.25046729, ..., 0.27476636, 0.        ,
        0.27383178],
       [0.28711898, 0.26155359, 0.25663717, ..., 0.24877089, 0.28810226,
        0.        ]])

In [26]:
menu_df['dish_7']

0                            8
1    Veg. Lemon Coriander Soup
Name: dish_7, dtype: object

In [33]:
coccurence_matrix_data = pd.DataFrame(coccurence_matrix, dish_item[1:], dish_item[1:])

In [35]:
coccurence_matrix_data.head(5)

,dish1,dish2,dish3,dish4,dish5,dish6,dish7,dish8,dish9,dish10,...,dish115,dish116,dish117,dish118,dish119,dish120,dish121,dish122,dish123,dish124
dish1,0.000000,0.258333,0.264815,0.248148,0.236111,0.272222,0.249074,0.251852,0.259259,0.253704,...,0.248148,0.275000,0.285185,0.253704,0.262037,0.203704,0.249074,0.243519,0.257407,0.270370
dish2,0.262712,0.000000,0.232580,0.225047,0.238230,0.266478,0.253296,0.248588,0.251412,0.268362,...,0.243879,0.250471,0.261770,0.243879,0.257062,0.245763,0.258004,0.247646,0.253296,0.250471
dish3,0.279843,0.241683,0.000000,0.264188,0.257339,0.257339,0.251468,0.279843,0.272016,0.256360,...,0.262231,0.255382,0.252446,0.249511,0.262231,0.253425,0.261252,0.258317,0.262231,0.255382
dish4,0.272358,0.242886,0.274390,0.000000,0.244919,0.268293,0.241870,0.256098,0.255081,0.242886,...,0.237805,0.264228,0.273374,0.261179,0.263211,0.252033,0.231707,0.242886,0.270325,0.276423
dish5,0.247813,0.245870,0.255588,0.234208,0.000000,0.266278,0.257532,0.264334,0.271137,0.258503,...,0.256560,0.266278,0.274052,0.241983,0.268222,0.234208,0.269193,0.261419,0.268222,0.254616

In [42]:
d1 = menu(dish_id=dish_id, dish=dish, mean=coccurence_matrix_data.loc['dish7'])

In [44]:
d2 = sorted(d1, key=RecByMean.get_mean, reverse=True)

In [48]:
[print(i) for i in d2[:5]]

28 Fish Amritsar: 0.2875882946518668
117 Stuffed Keema Kulcha/Paratha: 0.2875882946518668
80 Mushroom Matar: 0.28557013118062563
73 Kadai Paneer: 0.28355196770938446
65 Mewari Maans Dunghaar: 0.2805247225025227

[None, None, None, None, None]

In [51]:
d3 = menu(dish_id=dish_id, dish=dish, mean=coccurence_matrix_data.loc['dish6'])
d4 = sorted(d3, key=RecByMean.get_mean, reverse=True)
[print(i) for i in d4[:5]]

38 Chicken Tikka : 0.2905982905982906
94 Butter Chicken: 0.2849002849002849
31 Paneer Malai Tikka: 0.2839506172839506
62 Ker Sangri: 0.28205128205128205
105 Mutton Biryani with Raita: 0.2801519468186135

[None, None, None, None, None]

In [52]:
d3 = menu(dish_id=dish_id, dish=dish, mean=coccurence_matrix_data.loc['dish8'])
d4 = sorted(d3, key=RecByMean.get_mean, reverse=True)
[print(i) for i in d4[:5]]

114 Laccha Paratha : 0.2820267686424474
80 Mushroom Matar: 0.28107074569789675
78 Navratan Korma: 0.2801147227533461
12 Manchow Chicken: 0.27820267686424477
81 Khamma Special Veg: 0.27820267686424477

[None, None, None, None, None]

In [60]:
d5 = coccurence_matrix_data.loc['dish11']
d6 = coccurence_matrix_data.loc['dish12']
d7 = pd.DataFrame([d5,d6])
d8 = d7.mean()

In [63]:
d9 = menu(dish_id=dish_id, dish=dish, mean=d8)
d10 = sorted(d9, key=RecByMean.get_mean, reverse=True)
[print(i) for i in d10[:5]]

90 Chicken Tikka Masala : 0.2876263511086076
63 Laal Maas: 0.27692526046402294
31 Paneer Malai Tikka: 0.2767824432390237
76 Paneer Tikka Masala: 0.2750207351095302
28 Fish Amritsar: 0.274877917884531

[None, None, None, None, None]

In [65]:
d11 = coccurence_matrix_data.loc['dish13']
d12 = coccurence_matrix_data.loc['dish14']
d13 = coccurence_matrix_data.loc['dish15']
d14 = coccurence_matrix_data.loc['dish16']
d15 = pd.DataFrame([d11,d12,d13,d14])
d16 = d15.mean()

d17 = menu(dish_id=dish_id, dish=dish, mean=d16)
d18 = sorted(d17, key=RecByMean.get_mean, reverse=True)
[print(i) for i in d18[:5]]

73 Kadai Paneer: 0.2874197165196518
12 Manchow Chicken: 0.2869364763163964
31 Paneer Malai Tikka: 0.2777627669681123
124 Banana Split: 0.27681866814535716
92 Chicken Korma : 0.27476804104185293

[None, None, None, None, None]

In [ ]:
d4 = sorted(d3, key=RecByMean.get_mean, reverse=True)
[print(i) for i in d4[:5]]

In [42]:
x1 = np.array([[0,1,1,0],[0,0,1,0],[1,1,0,0],[1,0,0,1]], dtype=np.int8)
y1 = np.zeros((4,4), dtype=np.int8)

In [43]:
x1

array([[0, 1, 1, 0],
       [0, 0, 1, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 1]], dtype=int8)

In [44]:
for i in x1:
    for j in range(len(i)):
        for k in range(len(i)):
            if i[j]==i[k]==1 and j!=k:
                y1[j][k]+=1

In [45]:
lk = [0,1,1,0]
for i in range(len(lk)):
    for j in range(len(lk)):
        if lk[i]==1 and lk[j]==1 and i != j:
            print(i,j)

1 2
2 1

In [47]:
pd.DataFrame(y1).sum()

0    2
1    2
2    1
3    1
dtype: int64

In [48]:
y1

array([[0, 1, 0, 1],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0]], dtype=int8)

In [34]:
x = np.array([[1,2,3,4],[2,4,6,8],[1,3,5,7]], dtype=np.int)
m1 = pd.DataFrame(x)

In [35]:
x

array([[1, 2, 3, 4],
       [2, 4, 6, 8],
       [1, 3, 5, 7]])

In [38]:
m1.mean()

0    1.333333
1    3.000000
2    4.666667
3    6.333333
dtype: float64

In [21]:
x = np.zeros((1, 6), dtype=np.int8)

In [28]:
x[0][5]

0

In [30]:
y = np.array([2,4,3,6,7,9])

In [35]:
type(y.size)

int

In [48]:
for i in range(y.size):
    if y[i]%3==0:
        x[0][i]=1

In [44]:
y

array([2, 4, 3, 6, 7, 9])

In [47]:
np.size(x)

6

In [50]:
z = np.zeros((3,4), dtype=np.int8)

In [51]:
z

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]], dtype=int8)

In [52]:
t = np.array([[2,4,6,9], [1,3,5,8], [3,7,8,2]])

In [53]:
t

array([[2, 4, 6, 9],
       [1, 3, 5, 8],
       [3, 7, 8, 2]])

In [59]:
for i in range(np.shape(t)[0]):
    for j in range(np.shape(t)[1]):
        if t[i][j] % 3 == 0:
            z[i][j] = 1

In [60]:
z

array([[0, 0, 1, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0]], dtype=int8)

In [ ]:
F = pd.read_excel('X.xlsx', sheet_name='Sheet1')

c:\users\amit\appdata\local\programs\python\python37-32\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [23]:
x = [np.array([[1,2,4,5],[2,5,7,8],[4,5,8,9]]), np.array([[2,3,4,5],[4,5,7,8],[2,4,6,8]])]

In [36]:
x

[array([[1, 2, 4, 5],
        [2, 5, 7, 8],
        [4, 5, 8, 9]]), array([[2, 3, 4, 5],
        [4, 5, 7, 8],
        [2, 4, 6, 8]])]

In [27]:
np.average(x[0], axis=0)

array([2.33333333, 4.        , 6.33333333, 7.33333333])

In [31]:
z=np.array(x)

In [38]:
z.max(axis=1)

array([[4, 5, 8, 9],
       [4, 5, 7, 8]])

In [13]:
y = np.zeros((4,5))

In [ ]:
pd.DataFrame(x)

In [4]:
x = np.random.rand(3,4)

In [6]:
xdf = pd.DataFrame(x)

In [18]:
l = ['a', 'b', 'c','d',]
xdf.set_axis(l, axis=1)

c:\users\amit\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

In [19]:
xdf

          a         b         c         d
a  0.368905  0.968762  0.674643  0.735551
b  0.276834  0.479628  0.745522  0.737750
c  0.604545  0.086765  0.691858  0.545404

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]